@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$blue: #005EB8;
$red: #D6202D;

$primary: $blue;
$danger: $red;
$table-cell-padding-y-sm: .3rem;
@import "../node_modules/bootstrap/scss/bootstrap";
