@use "../custom" as *;

#employee{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  &--title{
    font-size: 30px;
  }

  .menu-button{
    button{
      font-size: 12px;
    }
  }

  .page-item{
    a{
      font-size: 14px !important;
    }
  }

  table{
    margin: 0;
    tbody > tr{
      cursor: pointer;
    }
    .table-active{
      color: white !important;
      background-color: $primary;

    }
    td{
      padding: 20px 20px 10px;
      border-bottom: 2px solid #EEF4F7;
      vertical-align: middle !important;
    }
    @include media-breakpoint-down(xl){
      td{
        font-size: 12px;
        padding: 5px 10px;
        border-bottom: 2px solid #EEF4F7;
        vertical-align: middle !important;
      }
    }
  }

  input,select,button{
    font-size: 12px;
  }


}