@use "../custom" as *;

.menu{
    margin-left: 300px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-weight: 600;
    letter-spacing: .4px;
    font-size: 14px;
    img{
        width:6%;
    }
    @include media-breakpoint-down(xl) {
        margin-left: 180px;
    }
}