@use "../custom" as *;
body{
  background-color: #EEF4F7;
}
#timekeeping{
  margin-left: 330px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  .innerContainer{
    padding: 0;
    width: 100%;
    border-radius: 15px;
  }
  td{
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #EEF4F7;
    vertical-align: middle !important;
  }
  @include media-breakpoint-down(xl){
    margin-left: 200px;
    td{
      font-size: 12px;
      padding-left: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom: 2px solid #EEF4F7;
      vertical-align: middle !important;
    }
  }
}